<!-- Page Header Start -->
<div class="container-fluid page-header wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="display-3 mb-3 animated slideInDown">Article Viewer</h1>
    </div>
</div>
<!-- Page Header End -->
<!-- Feature Start -->
<div class="container-fluid bg-light bg-icon py-6 mb-0">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 1000px;">
           <div>
                <h1 class="display-5">Article Window</h1>
           </div>
           <br />
            <div class="text-center border border-warning row">
                <textarea class="form-control cols-sm-6" style="resize: none; height: 70vh;" readonly></textarea>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->
