@using Microsoft.AspNetCore.Authorization

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>HealthyFood - Organic Food Website</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="~/img/tomato-icon.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Lora:wght@600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Layout Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->

    <header>
        <!-- Navbar Start -->
        <div class="container-fluid fixed-top px-0 wow fadeIn" data-wow-delay="0.1s">
            <div class="top-bar row gx-0 align-items-center d-none d-lg-flex">
                <div class="col-lg-6 px-5 text-start">
                    <small><i class="fa fa-map-marker-alt me-2"></i>19 Street, Mansoura, Egypt</small>
                    <small class="ms-4"><i class="fa fa-envelope me-2"></i>HealthyFood@domain.com</small>
                </div>
                <div class="col-lg-6 px-5 text-end">
                    <small>Follow us:</small>
                    <a class="text-body ms-3" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                    <a class="text-body ms-3" href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                    <a class="text-body ms-3" href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>

            <nav class="navbar navbar-expand-lg navbar-light py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
                <a href="index.html" class="navbar-brand ms-4 ms-lg-0">
                    <h1 class="fw-bold text-primary m-0">Healthy<span class="text-secondary">Food</span></h1>
                </a>
                <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto p-4 p-lg-0"> 
                       <a asp-controller="Home" asp-action="GetHomeView" class="nav-item nav-link active">Home</a>
                        @if (User.Identity.IsAuthenticated == false)
                        {
                            <!-- Button Trigger Modal login/register -->
                            <a class="nav-item nav-link" style="cursor:pointer" href="@Url.Action("AddingFirstTime", "Register")">
                                <small class="fa fa-user text-body"></small>
                            </a>
                            <!-- Shopping Bag Link-->
                           
                        }
                        else
                        {
                        @if (User.IsInRole("Admin") == true)
                        {

                            <a asp-controller="Order" asp-action="GetOrderView" class="nav-item nav-link">Orders</a>
                            <a asp-controller="Product" asp-action="GetProductView" class="nav-item nav-link">Update Products</a>

                            <a asp-controller="Product" asp-action="AddProduct" class="nav-item nav-link">New Product</a>

                            <a asp-controller="ContactUs" asp-action="GetMessageView" class="nav-item nav-link">Custommer Messages</a>
                                <a class="nav-item nav-link" asp-controller="Login" asp-action="SignOut">
                                    Sign Out
                                </a>
                        }else{
                            <a asp-controller="AboutUs" asp-action="GetAboutUsView" class="nav-item nav-link">About Us</a>
                            <a asp-controller="Product" asp-action="GetProductView" class="nav-item nav-link">Products</a>

                            <a asp-controller="ContactUs" asp-action="GetContactUsView" class="nav-item nav-link">Contact Us</a>
                                <a class="nav-item nav-link" asp-controller="Login" asp-action="SignOut">
                                    Sign Out
                                </a>
                            <a asp-controller="ShoppingBag" asp-action="GetShoppingBagView" class="nav-item nav-link">
                                <small class="fa fa-shopping-bag text-body"></small>
                            </a>
                        }

                          
                        }
                       
                    </div>
            </nav>
        </div>
        <!-- Navbar End -->
        <!-- Registration/Login Modal -->
       
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Login/Registration Form</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <partial name="_RegisterLoginPartial">
                    </div>
                </div>
            </div>
        </div>
    
    </header>

    <div>
        @RenderBody()
    </div>
    
    <footer>
        <!-- Footer Start -->
        <div class="container-fluid bg-dark footer pt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <h1 class="fw-bold text-primary mb-4">Healthy<span class="text-secondary">Food</span></h1>
                        <p>A website to buy fresh fruits and vegetables from, with suitable offers that fits your budget.</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-square btn-outline-light rounded-circle me-1" href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-light rounded-circle me-1" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-light rounded-circle me-1" href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-square btn-outline-light rounded-circle me-0" href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="text-light mb-4">Address</h4>
                        <p><i class="fa fa-map-marker-alt me-3"></i>19 Street, Mansoura ,Egypt</p>
                        <p><i class="fa fa-phone-alt me-3"></i>+(02)25533221</p>
                        <p><i class="fa fa-envelope me-3"></i>HealthyFood@domain.com</p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="text-light mb-4">Quick Links</h4>
                        <a class="btn btn-link" asp-controller="AboutUs" asp-action="GetAboutUsView">About Us</a>
                        <a class="btn btn-link" asp-controller="ContactUs" asp-action="GetContactUsView">Contact Us</a>
                        <a class="btn btn-link" asp-controller="Service" asp-action="GetServiceView">Our Services</a>
                        <a class="btn btn-link" href="">Terms & Condition</a>
                        <a class="btn btn-link" href="">Support</a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="text-light mb-4">Newsletter</h4>
                        <p>Register in our newsletter service to get notifications considering our latest offers.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
    </footer>
     
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>


    <!-- Layout Javascript -->
    <script src="~/js/main.js"></script>

    <!-- Rendered Body JavaScript-->
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
